* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font: 14px/1.618 sans-serif;
}
body {
	min-height: 100vh;
}

h1 {
	font-size: 2rem;
}
h1 span {
	font-size: 1.5em;
}
.first-image {
	display: block;
	margin: 1rem;
	width: 20vw;
}

.tags {
	font-family: Helvetica, Arial, sans-serif;
}