<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${product.name}"></title>
</head>

<body>
    <header>
        <h1 th:text="${product.name}"></h1>
    </header>

    <main>
        <ol>
            <li>
                <a href="/products">Products</a>
            </li>
            <li th:text="${product.name}"></li>
        </ol>
        <h2>
            <span th:text="${product.name}"></span>
            <span th:text="${product.price}"></span>
        </h2>
        <small th:text="${product.id}"></small>
        <p th:text="${product.description}"></p>
    </main>

    <footer>
        <small>Dondons Grocery</small>
    </footer>
</body>

</html>